.about-main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 50px;
    gap: 25px;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.about-main-container > img {
    transition: 0.2s;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.about-main-container > img:hover {
    transform: scale(1.02);
}

.about-main-container > div {
    text-align: center;
}

.about-main-container > div > p {
    color: white;
    margin: 0;
}

.about-main-container > img > a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}